@model QuanLiNhanVien.Models.KyLuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KyLuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameKL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameKL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luong.ViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong.ViTri)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
