@model QuanLiNhanVien.Models.KyLuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KyLuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameKL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameKL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luong.ViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong.ViTri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDKL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
