@model QuanLiNhanVien.Models.PhongBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Chi tiết Phòng ban</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr />
            <dl class="dl-horizontal">
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.IDPB)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.IDPB)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.NamePB)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.NamePB)
                        </dd>
                    </div>
                </div>
            </dl>
            <hr />
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.IDPB }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Trở Lại", "Index")
            </p>
        </div>
    </div>
</div>
