@model QuanLiNhanVien.Models.TangCa

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Thông tin chi tiết</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr />
            <dl class="dl-horizontal">
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.Day)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.Day)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.SoGio)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.SoGio)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.LoaiCa.NameLC)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.LoaiCa.NameLC)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.Luong.ViTri)
                        </dt>
                    </div>
                    <div class="col-md-10">
                        <dd>
                            @Html.DisplayFor(model => model.Luong.ViTri)
                        </dd>
                    </div>
                </div>
            </dl>
            <hr />
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.IDTC }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Trở lại", "Index")
            </p>
        </div>
    </div>
</div>
